* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
table {
	border: calc(.25em / 3) solid black;
	border-spacing: 0;
	border-collapse: collapse;
}
th, td {
	border: calc(.25em / 3) solid black;
	padding: .25em;
}

header h1 {
	text-align: center;
}

main {
	margin: auto;
	max-width: min(960px, 90%);
	padding: .75em;
}

main > * + * {
	margin-top: .75em;
}

form.major {
	max-width: min(100%, 600px);
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: minmax(2em, auto);
	gap: .75em;
}

form.major > h2, form.major > p, form.major > .checkbox-with-label {
	grid-column: 1 / 3;
}

form.major > p {
	margin-top: 0;
	margin-bottom: 0;
}

form.major input[type="submit"] {
	display: block;
	max-width: 20ch;
	margin-left: auto;
	margin-right: auto;
}
main > section > table  {
	margin: .75em;
	/* Tables are absolutely cursed and don't obey normal rules */
	width: calc(100% - calc(.75em * 2));
}
code {
	/* Compensate for the monospace fonts often being smaller */
	font-size: 1.25em;
}
